@font-face {
	font-family: "Tuesday-night";
	src: 
		url("../fonts/TuesdayNight-Regular.woff"),
		url("../fonts/TuesdayNight-Regular.woff2");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}