.main-header {

    .social {
        margin-top: 15px;
    }

    .logo {
        @include font-logo;
        margin: 0;
    }

    .navigation {
        border-top: $border--light-gray;

        @include phone-portrait {
            margin-bottom: em(20px);
        }

        .list {
            @include horizontal-list;
            @include container;
            justify-content: center;

            @include phone-portrait {
                flex-wrap: wrap;
            }

            li {
                @include phone-portrait {
                    width: 33%;
                    box-shadow: border-box;
                }
            }

            li a {
                @include reset-link;
                @include font-navigation;
                padding: 0 em(25px, $font-size--xs);
                line-height: 6.65;
                display: block;

                @include phone-portrait {
                    text-align: center;
                }

                &:hover {
                    background-color: $light-gray;
                }
            }

            li a.disabled {
                background-color: $light-gray;
                cursor: default;
            }
            
        }
    }
} 

.latest {
    margin-top: em(100px);

    @include tablet-portrait {
        margin-top: em(80px);
    }

    .latest__list {
        @include horizontal-list;
        @include container;
        
        @extend %flex-sb;
        flex-wrap: wrap; 

        @include phone-landscape {
            justify-content: space-around;
        }

            li {
            margin-bottom: em(150px);
            width: 46.7%;

            position: relative;

            @include tablet-portrait {
                @include size(48%, auto);
                margin-bottom: em(30px);
            }
        }
    }

    .blog-post {
        @include size(100%, 100%);

        img {
            @include size(100%, 100%);
            object-fit: cover;

            @include desktop {
                height: em($height--xs);
            }

            @include tablet-portrait {
                height: em($height--xs) / 1.2;
            }
        }

        .content {
            width: 95%;
            padding: em(50px) em(60px);
            box-sizing: border-box;

            position: absolute;
            left: 12.7%;
            bottom: em(-130px);
            z-index: 10;

            background-color: $white;

            @include desktop {
                padding: em(25px);
            }

            @include tablet-portrait {
                position: relative;
                width: 100%;
                margin: 0 auto;
                padding: em(10px);

                left: auto;
                bottom: auto;
            }

            .info {
                display: flex;
                align-items: baseline; 
            }

            .date {
                @include font-date;
                padding-left: em(15px);
                
                border-left: $border--light-gray;
            }

            .category {
                margin: 0;

                a {
                    @include reset-link;
                    @include font-category;
                    padding-right: em(15px);
                }
            }

            .title {
                @include font-title($font-size--m);
                margin: em(20px, $font-size--m) 0;
            }
        }
    }
}

.video {
    margin-top: em(100px);
    padding: em(90px) 0 em(150px);
    box-sizing: border-box;
    
    background-color: $light-gray;

    @include tablet-portrait {
        margin-top: 0;
        padding: em(50px) 0;
    }

    .section-title {
        @include container;

        font-family: $font-primary;
        font-size: em(24px);
        font-weight: 700;
        color: $black;

        @include phone-landscape {
            width: 90%;
        }
    } 

    .video__wrapper {
        @include container;
        margin-top: em(40px);

        display: grid;
        grid-template-rows:  minmax(auto, max-content)  minmax(auto, max-content)  minmax(auto, max-content);
        grid-template-columns: 5.7fr 4.3fr;
        grid-gap: em(30px);
        grid-template-areas: 
        "video post-1"
        "video post-2"
        "video post-3";

        @include tablet-portrait {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: minmax(em($height--s), max-content) minmax(auto, max-content);
            grid-template-areas: 
            "video video"
            "post-1 post-2";

            article:nth-child(3) {
                display: none;
            }
        }

        @include phone-landscape {
            width: 90%;
        }

        .video__content {
            @include size(100%, 100%);
            grid-area: video;
        }
            
        @each $num in (1, 2, 3) {
            article:nth-child(#{$num}) {
                grid-area: post-#{$num};
            }
        }
            
        
    }

    .blog-post {
        display: flex;
        height: 100%;

        @include tablet-portrait {
            flex-direction: column;
        }

        img {
            max-height: em(140px);
            @include size(36%, 100%);
            object-fit: cover;

            @include tablet-portrait {
                width: 100%;
            }
        }

        .content {
            width: 57.5%;
            margin-left: em(30px);

            display: flex;
            flex-direction: column;
            justify-content: center;

            @include tablet-portrait {
                width: 100%;
                margin-left: 0;
                padding: em(10px);
                box-sizing: border-box;
                background-color: $white;
            }

            .info {
                display: flex;
                align-items: baseline;

                @include tablet-portrait {
                    flex-direction: column;
                }
            }
    
            .date {
                @include font-date;
                padding-left: em(15px);

                @include tablet-portrait {
                    padding-left: 0;
                    border-left: $border--light-gray;
                }
            }
    
            .category {
                margin: 0;

                @include tablet-portrait {
                    border: none;
                }
    
                a {
                    @include reset-link;
                    @include font-category;
                    padding-right: em(15px);
                }
            }
    
            .title {
                @include font-title(20px);
                margin: em(15px, 20px) 0;
            }
        }
    }
}

.featured {
    @include container;
    margin-top: em(155px);

    @include tablet-portrait {
        margin-top: em(100px);
    }

    @include phone-landscape{
        margin-top: em(55px);
    }

    .blog-post {
        @include size(100%, em($height--s));
        position: relative;

        @include phone-landscape{
            height: em(450px);
        }

        img {
            @include size(100%, 100%);
            object-fit: cover;
        }

        .content {
            width: 57.7%;
            padding: em(60px) 0;

            position: absolute;
            left: 50%;
            bottom: em(-115px);
            transform: translateX(-50%);
            
            background-color: $white;

            @include desktop {
                width: 68%;
            }

            @include tablet-landscape{
                border-left: $border--gray;
                border-bottom: $border--gray;
            }

            @include tablet-portrait {
                width: 80%;
                padding: em(45px) 0;
            }

            .info {
                display: flex;
                justify-content: center;
                align-items: baseline;
            }
    
            .date {
                @include font-date;
                padding-left: em(15px);
                border-left: $border--gray;
            }
    
            .category {
                margin: 0;
    
                a {
                    @include reset-link;
                    @include font-category;
                    padding-right: em(15px);
                }
            }
    
            .title {
                @include font-title($font-size--m);
                margin: em(20px, $font-size--m) 0;
                text-align: center;
            }
        }
    }
}

.popular {
    @include container;
    margin-top: em(125px);

    .section-title {
        @include font-title($font-size--xxl);
        margin: 0;
        text-align: center;
    }

    &__list {
        @include reset-list;
        margin: em(65px) 0 0;

        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: em(30px);
        grid-template-areas: 
        "post-1 post-1 post-2"
        "post-3 post-4 post-5";

        @include tablet-landscape {
            grid-template-rows: minmax(auto, max-content) minmax(auto, min-content) minmax(auto, min-content);
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            "post-1 post-1"
            "post-2 post-3"
            "post-4 post-5";
        }

        @include phone-landscape{
            margin-top: em(25px);
            grid-row-gap:em(30);
        }

        @each $num in (1, 2, 3, 4, 5) {

            li:nth-child(#{$num}) {
                grid-area: post-#{$num};
            }
        }

        // @each $num in (2, 3, 4, 5) {

        //     @include phone-landscape{

        //         li:nth-child(#{$num}){ 

        //             .content {
        //                 position: static;
        //                 padding-bottom: 0;
        //             }

        //             .blog-post {
        //                 margin-bottom: 0;
        //             }
        //         }
        //     }
        // }
    }

    .blog-post {
        @include size(100%, 100%);
        margin-bottom: em(80px);
        position: relative;

        @include tablet-landscape {
            margin-bottom: em(120px);
        }

        img {
            @include size(100%, em($height--s));
            object-fit: cover;

            @include phone-landscape {
                height: em($height--xs);
            }
        }

        .content {
            width: calc(100% - 50px);
            padding: em(35px);
            box-sizing: border-box;

            position: absolute;
            left: 50px;
            bottom: em(-80px);
            
            background-color: $white;

            @include tablet-landscape{
                padding: em(30px);
                border-left: $border--gray;
                border-bottom: $border--gray;
                bottom: em(-100px);
            }

            @include tablet-portrait{
                padding: em(25px) em(30px);
                width: calc(100% - 35px);
                left: 35px;
            }

            @include phone-landscape {
                padding: em(20px) em(30px);
                width: calc(100% - 20px);
                left: 20px;
            }

            @include phone-portrait {
                padding: em(15px) em(30px);
                width: calc(100% - 15px);
                left: 15px;
            }

            .info {
                display: flex;
                align-items: baseline;

                @include tablet-portrait {
                    flex-direction: column;
                }
            }
    
            .date {
                @include font-date;
                padding-left: em(15px);
                border-left: $border--light-gray;

                @include tablet-portrait {
                    padding-left: 0;
                }
            }
    
            .category {
                margin: 0;

                @include tablet-portrait {
                    border: none;
                }
    
                a {
                    @include reset-link;
                    @include font-category;
                    padding-right: em(15px);
                }
            }
    
            .title {
                @include font-title($font-size--s);
                margin: em(15px, $font-size--s) 0;

                @include tablet-landscape {
                    font-size: em($font-size--m);
                }
            }
        }
    }
}

.main-footer {
    $img-height: em(235px);

    min-height: em(450px);
    margin-top: $img-height / 2 + em(50px);
    background-color: $black;

    @include tablet-landscape {
        min-height: em($height--xs);
    }

    .instagram-imgs {
        @include horizontal-list;
        @include container;
        position: relative;
        transform: translateY(-50%);

        @include phone-landscape {
            width: 90%;
        }

        li {
            width: 20%;
            @include size(100%, $img-height);
            overflow: hidden;

            @include phone-landscape {
                max-height: em(200px);
            }

            @include phone-portrait {
                max-height: em(175px);
            }

            a img {
                @include size(100%, 100%);
                object-fit: cover;
                transition-duration: .3s;

                &:hover {
                    transform: scale(1.2);
                    transition-duration: .3s;
                }
            }
        }
    }
    
    .copyright {
        margin: em(30px) 0 0;
        font-family: $font-primary;
        font-size: em(14px);
        color: $white;
        text-align: center;
    }
}



