.latest .latest__list, .content-img--two, .share {
  display: flex;
  justify-content: space-between; }

.slider .flickity-button .flickity-button-icon, .social li a svg, .main-footer .instagram-imgs li a:before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.visually-hidden:not(:focus):not(:active) {
  width: 1px;
  height: 1px;
  margin: 1px;
  padding: 0;
  border: 0;
  position: absolute;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden; }

body {
  font-size: 22px;
  margin: 0;
  overflow: hidden; }
  @media (max-width: 1599px) {
    body {
      font-size: 20px; } }
  @media (max-width: 1199px) {
    body {
      font-size: 18px; } }
  @media (max-width: 899px) {
    body {
      font-size: 15px; } }
  @media (max-width: 699px) {
    body {
      font-size: 12px; } }
  @media (max-width: 399px) {
    body {
      font-size: 10px; } }

.preloader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
  z-index: 10000; }
  .preloader-container p {
    font-family: "DM Serif Text", serif;
    font-size: 0.54545em;
    color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    line-height: 100vh;
    letter-spacing: 4px; }
    @media (max-width: 899px) {
      .preloader-container p {
        font-size: 22px; } }

.preloader circle {
  stroke-dashoffset: 0;
  fill: none;
  stroke-linecap: round; }

@font-face {
  font-family: 'Tuesday Night';
  src: url("../fonts/TuesdayNight-Regular.eot");
  src: url("../fonts/TuesdayNight-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/TuesdayNight-Regular.woff2") format("woff2"), url("../fonts/TuesdayNight-Regular.woff") format("woff"), url("../fonts/TuesdayNight-Regular.svg#Tuesday Night Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-007A; }

@font-face {
  font-family: 'DM Serif Text';
  src: url("../fonts/DMSerifText-Regular.eot");
  src: url("../fonts/DMSerifText-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/DMSerifText-Regular.woff2") format("woff2"), url("../fonts/DMSerifText-Regular.woff") format("woff"), url("../fonts/DMSerifText-Regular.svg#DM Serif Text Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212; }

@font-face {
  font-family: 'DM Sans';
  src: url("../fonts/DMSans-Bold.eot");
  src: url("../fonts/DMSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/DMSans-Bold.woff2") format("woff2"), url("../fonts/DMSans-Bold.woff") format("woff"), url("../fonts/DMSans-Bold.svg#DM Sans Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212; }

@font-face {
  font-family: 'DM Sans';
  src: url("../fonts/DMSans-Regular.eot");
  src: url("../fonts/DMSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/DMSans-Regular.woff2") format("woff2"), url("../fonts/DMSans-Regular.woff") format("woff"), url("../fonts/DMSans-Regular.svg#DM Sans Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212; }

@font-face {
  font-family: 'DM Sans';
  src: url("../fonts/DMSans-Medium.eot");
  src: url("../fonts/DMSans-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/DMSans-Medium.woff2") format("woff2"), url("../fonts/DMSans-Medium.woff") format("woff"), url("../fonts/DMSans-Medium.svg#DM Sans Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212; }

.latest {
  margin-top: 2.27273em; }
  @media (max-width: 899px) {
    .latest {
      margin-top: 3.63636em; } }
  .latest .latest__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    max-width: 1170px;
    width: 78%;
    margin: 0 auto;
    flex-wrap: wrap; }
    @media (max-width: 699px) {
      .latest .latest__list {
        width: 100%; } }
    @media (max-width: 699px) {
      .latest .latest__list {
        justify-content: space-around; } }
    .latest .latest__list li {
      margin-bottom: 6.81818em;
      width: 46.7%;
      position: relative; }
      @media (max-width: 899px) {
        .latest .latest__list li {
          width: 48%;
          height: auto;
          margin-bottom: 1.36364em; } }
  .latest .blog-post {
    width: 100%;
    height: 100%; }
    .latest .blog-post img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
      @media (max-width: 1599px) {
        .latest .blog-post img {
          height: 16.81818em; } }
      @media (max-width: 899px) {
        .latest .blog-post img {
          height: 14.01515em; } }
    .latest .blog-post .content {
      width: 95%;
      padding: 2.27273em 2.72727em;
      box-sizing: border-box;
      position: absolute;
      left: 12.7%;
      bottom: -5.90909em;
      z-index: 10;
      background-color: #ffffff; }
      @media (max-width: 1599px) {
        .latest .blog-post .content {
          padding: 1.13636em; } }
      @media (max-width: 899px) {
        .latest .blog-post .content {
          position: relative;
          width: 100%;
          margin: 0 auto;
          padding: 0.45455em;
          left: auto;
          bottom: auto; } }
      .latest .blog-post .content .info {
        display: flex;
        align-items: baseline; }
      .latest .blog-post .content .date {
        font-family: "DM Sans", sans-serif;
        font-size: 0.54545em;
        color: #000000;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding-left: 0.68182em;
        border-left: 1px solid #f3f3f3; }
      .latest .blog-post .content .category {
        margin: 0; }
        .latest .blog-post .content .category a {
          color: #000000;
          text-decoration: none;
          font-family: "DM Sans", sans-serif;
          font-size: 0.54545em;
          color: #0000ff;
          text-transform: uppercase;
          letter-spacing: 2px;
          padding-right: 0.68182em; }
      .latest .blog-post .content .title {
        font-family: "DM Serif Text", serif;
        font-size: 1.63636em;
        color: #000000;
        margin: 0.55556em 0; }

.video {
  margin-top: 4.54545em;
  padding: 4.09091em 0 6.81818em;
  box-sizing: border-box;
  background-color: #f3f3f3; }
  @media (max-width: 899px) {
    .video {
      margin-top: 0;
      padding: 2.27273em 0; } }
  .video .section-title {
    max-width: 1170px;
    width: 78%;
    margin: 0 auto;
    font-family: "DM Sans", sans-serif;
    font-size: 1.09091em;
    font-weight: 700;
    color: #000000; }
    @media (max-width: 699px) {
      .video .section-title {
        width: 100%; } }
    @media (max-width: 699px) {
      .video .section-title {
        width: 90%; } }
  .video .video__wrapper {
    max-width: 1170px;
    width: 78%;
    margin: 0 auto;
    margin-top: 1.81818em;
    display: grid;
    grid-template-rows: minmax(auto, max-content) minmax(auto, max-content) minmax(auto, max-content);
    grid-template-columns: 5.7fr 4.3fr;
    grid-gap: 1.36364em;
    grid-template-areas: "video post-1" "video post-2" "video post-3"; }
    @media (max-width: 699px) {
      .video .video__wrapper {
        width: 100%; } }
    @media (max-width: 899px) {
      .video .video__wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: minmax(27.27273em, max-content) minmax(auto, max-content);
        grid-template-areas: "video video" "post-1 post-2"; }
        .video .video__wrapper article:nth-child(3) {
          display: none; } }
    @media (max-width: 699px) {
      .video .video__wrapper {
        width: 90%; } }
    .video .video__wrapper .video__content {
      width: 100%;
      height: 100%;
      grid-area: video; }
    .video .video__wrapper article:nth-child(1) {
      grid-area: post-1; }
    .video .video__wrapper article:nth-child(2) {
      grid-area: post-2; }
    .video .video__wrapper article:nth-child(3) {
      grid-area: post-3; }
  .video .blog-post {
    display: flex;
    height: 100%; }
    @media (max-width: 899px) {
      .video .blog-post {
        flex-direction: column; } }
    .video .blog-post img {
      max-height: 6.36364em;
      width: 36%;
      height: 100%;
      object-fit: cover; }
      @media (max-width: 899px) {
        .video .blog-post img {
          width: 100%; } }
    .video .blog-post .content {
      width: 57.5%;
      margin-left: 1.36364em;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      @media (max-width: 899px) {
        .video .blog-post .content {
          width: 100%;
          margin-left: 0;
          padding: 0.45455em;
          box-sizing: border-box;
          background-color: #ffffff; } }
      .video .blog-post .content .info {
        display: flex;
        align-items: baseline; }
        @media (max-width: 899px) {
          .video .blog-post .content .info {
            flex-direction: column; } }
      .video .blog-post .content .date {
        font-family: "DM Sans", sans-serif;
        font-size: 0.54545em;
        color: #000000;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding-left: 0.68182em; }
        @media (max-width: 899px) {
          .video .blog-post .content .date {
            padding-left: 0;
            border-left: 1px solid #f3f3f3; } }
      .video .blog-post .content .category {
        margin: 0; }
        @media (max-width: 899px) {
          .video .blog-post .content .category {
            border: none; } }
        .video .blog-post .content .category a {
          color: #000000;
          text-decoration: none;
          font-family: "DM Sans", sans-serif;
          font-size: 0.54545em;
          color: #0000ff;
          text-transform: uppercase;
          letter-spacing: 2px;
          padding-right: 0.68182em; }
      .video .blog-post .content .title {
        font-family: "DM Serif Text", serif;
        font-size: 0.90909em;
        color: #000000;
        margin: 0.75em 0; }

.featured {
  max-width: 1170px;
  width: 78%;
  margin: 0 auto;
  margin-top: 7.04545em; }
  @media (max-width: 699px) {
    .featured {
      width: 100%; } }
  @media (max-width: 899px) {
    .featured {
      margin-top: 4.54545em; } }
  @media (max-width: 699px) {
    .featured {
      margin-top: 2.5em; } }
  .featured .blog-post {
    width: 100%;
    height: 27.27273em;
    position: relative; }
    @media (max-width: 699px) {
      .featured .blog-post {
        height: 20.45455em; } }
    .featured .blog-post img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .featured .blog-post .content {
      width: 57.7%;
      padding: 2.72727em 0;
      position: absolute;
      left: 50%;
      bottom: -5.22727em;
      transform: translateX(-50%);
      background-color: #ffffff; }
      @media (max-width: 1599px) {
        .featured .blog-post .content {
          width: 68%; } }
      @media (max-width: 1199px) {
        .featured .blog-post .content {
          border-left: 1px solid #cccccc;
          border-bottom: 1px solid #cccccc; } }
      @media (max-width: 899px) {
        .featured .blog-post .content {
          width: 80%;
          padding: 2.04545em 0; } }
      .featured .blog-post .content .info {
        display: flex;
        justify-content: center;
        align-items: baseline; }
      .featured .blog-post .content .date {
        font-family: "DM Sans", sans-serif;
        font-size: 0.54545em;
        color: #000000;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding-left: 0.68182em;
        border-left: 1px solid #cccccc; }
      .featured .blog-post .content .category {
        margin: 0; }
        .featured .blog-post .content .category a {
          color: #000000;
          text-decoration: none;
          font-family: "DM Sans", sans-serif;
          font-size: 0.54545em;
          color: #0000ff;
          text-transform: uppercase;
          letter-spacing: 2px;
          padding-right: 0.68182em; }
      .featured .blog-post .content .title {
        font-family: "DM Serif Text", serif;
        font-size: 1.63636em;
        color: #000000;
        margin: 0.55556em 0;
        text-align: center; }

.popular {
  max-width: 1170px;
  width: 78%;
  margin: 0 auto;
  margin-top: 5.68182em; }
  @media (max-width: 699px) {
    .popular {
      width: 100%; } }
  .popular .section-title {
    font-family: "DM Serif Text", serif;
    font-size: 2.72727em;
    color: #000000;
    margin: 0;
    text-align: center; }
  .popular__list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin: 2.95455em 0 0;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.36364em;
    grid-template-areas: "post-1 post-1 post-2" "post-3 post-4 post-5"; }
    @media (max-width: 1199px) {
      .popular__list {
        grid-template-rows: minmax(auto, max-content) minmax(auto, min-content) minmax(auto, min-content);
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "post-1 post-1" "post-2 post-3" "post-4 post-5"; } }
    @media (max-width: 699px) {
      .popular__list {
        margin-top: 1.13636em;
        grid-row-gap: 1.36364em; } }
    .popular__list li:nth-child(1) {
      grid-area: post-1; }
    .popular__list li:nth-child(2) {
      grid-area: post-2; }
    .popular__list li:nth-child(3) {
      grid-area: post-3; }
    .popular__list li:nth-child(4) {
      grid-area: post-4; }
    .popular__list li:nth-child(5) {
      grid-area: post-5; }
  .popular .blog-post {
    width: 100%;
    height: 100%;
    margin-bottom: 3.63636em;
    position: relative; }
    @media (max-width: 1199px) {
      .popular .blog-post {
        margin-bottom: 5.45455em; } }
    .popular .blog-post img {
      width: 100%;
      height: 27.27273em;
      object-fit: cover; }
      @media (max-width: 699px) {
        .popular .blog-post img {
          height: 16.81818em; } }
    .popular .blog-post .content {
      width: calc(100% - 50px);
      padding: 1.59091em;
      box-sizing: border-box;
      position: absolute;
      left: 50px;
      bottom: -3.63636em;
      background-color: #ffffff; }
      @media (max-width: 1199px) {
        .popular .blog-post .content {
          padding: 1.36364em;
          border-left: 1px solid #cccccc;
          border-bottom: 1px solid #cccccc;
          bottom: -4.54545em; } }
      @media (max-width: 899px) {
        .popular .blog-post .content {
          padding: 1.13636em 1.36364em;
          width: calc(100% - 35px);
          left: 35px; } }
      @media (max-width: 699px) {
        .popular .blog-post .content {
          padding: 0.90909em 1.36364em;
          width: calc(100% - 20px);
          left: 20px; } }
      @media (max-width: 399px) {
        .popular .blog-post .content {
          padding: 0.68182em 1.36364em;
          width: calc(100% - 15px);
          left: 15px; } }
      .popular .blog-post .content .info {
        display: flex;
        align-items: baseline; }
        @media (max-width: 899px) {
          .popular .blog-post .content .info {
            flex-direction: column; } }
      .popular .blog-post .content .date {
        font-family: "DM Sans", sans-serif;
        font-size: 0.54545em;
        color: #000000;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding-left: 0.68182em;
        border-left: 1px solid #f3f3f3; }
        @media (max-width: 899px) {
          .popular .blog-post .content .date {
            padding-left: 0; } }
      .popular .blog-post .content .category {
        margin: 0; }
        @media (max-width: 899px) {
          .popular .blog-post .content .category {
            border: none; } }
        .popular .blog-post .content .category a {
          color: #000000;
          text-decoration: none;
          font-family: "DM Sans", sans-serif;
          font-size: 0.54545em;
          color: #0000ff;
          text-transform: uppercase;
          letter-spacing: 2px;
          padding-right: 0.68182em; }
      .popular .blog-post .content .title {
        font-family: "DM Serif Text", serif;
        font-size: 1em;
        color: #000000;
        margin: 0.68182em 0; }
        @media (max-width: 1199px) {
          .popular .blog-post .content .title {
            font-size: 1.63636em; } }

.slider {
  position: relative; }
  .slider .flickity-viewport {
    width: 100%;
    height: 100%; }
  .slider .flickity-button {
    width: 4.6em;
    height: 4.6em;
    border-radius: unset;
    font-size: 1em; }
    .slider .flickity-button .flickity-button-icon {
      width: 20%;
      color: #f3f3f3; }
  .slider .flickity-prev-next-button {
    top: auto;
    transform: none;
    z-index: 100; }
  .slider .flickity-page-dots .dot {
    width: 0.5em;
    height: 0.5em;
    margin: 0 .37em;
    font-size: 1em; }
  .slider .blog-post {
    width: 100%; }
    .slider .blog-post .content .info {
      display: flex;
      align-items: baseline; }
    .slider .blog-post .content .category {
      margin: 0; }
      .slider .blog-post .content .category a {
        color: #000000;
        text-decoration: none;
        font-family: "DM Sans", sans-serif;
        font-size: 0.54545em;
        color: #0000ff;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding-right: 0.68182em; }
    .slider .blog-post .content .date {
      font-family: "DM Sans", sans-serif;
      font-size: 0.54545em;
      color: #000000;
      text-transform: uppercase;
      letter-spacing: 2px;
      padding-left: 0.68182em;
      border-left: 1px solid #f3f3f3; }
    .slider .blog-post .content .button--continue {
      width: 46.7%; }
      @media (max-width: 699px) {
        .slider .blog-post .content .button--continue {
          width: 60%; } }
      @media (max-width: 399px) {
        .slider .blog-post .content .button--continue {
          width: 70%; } }
    .slider .blog-post img {
      height: 100%;
      margin: 0 auto;
      display: block;
      object-fit: cover; }

.slider--header {
  max-width: 1170px;
  width: 78%;
  margin: 0 auto;
  background-color: #ffffff; }
  @media (max-width: 699px) {
    .slider--header {
      width: 100%; } }
  .slider--header .flickity-button {
    background: #000000; }
  .slider--header .flickity-prev-next-button {
    right: -4.6em;
    left: auto;
    bottom: auto; }
    @media (max-width: 899px) {
      .slider--header .flickity-prev-next-button {
        right: 0; } }
    .slider--header .flickity-prev-next-button.next {
      top: 0; }
      @media (max-width: 899px) {
        .slider--header .flickity-prev-next-button.next {
          top: 16.81818em; } }
    .slider--header .flickity-prev-next-button.previous {
      top: 4.6em; }
      @media (max-width: 899px) {
        .slider--header .flickity-prev-next-button.previous {
          top: 21.41818em; } }
  .slider--header .flickity-page-dots {
    padding: 20px 0;
    width: 4.6em;
    top: 9.2em;
    right: -4.6em;
    left: auto;
    bottom: auto; }
    @media (max-width: 899px) {
      .slider--header .flickity-page-dots {
        right: 0;
        top: 26.01818em; } }
    .slider--header .flickity-page-dots .dot {
      border-radius: unset; }
  .slider--header .blog-post .content {
    width: calc(100% - 50px);
    padding: 3.18182em 2.72727em 0;
    box-sizing: border-box;
    position: relative;
    top: -2.27273em;
    right: -50px;
    z-index: 10;
    background-color: #ffffff; }
    @media (max-width: 1599px) {
      .slider--header .blog-post .content {
        width: 70%;
        padding: 1.81818em 1.81818em 0; } }
    @media (max-width: 1199px) {
      .slider--header .blog-post .content {
        width: 80%; } }
    @media (max-width: 899px) {
      .slider--header .blog-post .content {
        padding: 1.36364em 1.36364em 0;
        position: static; } }
    @media (max-width: 699px) {
      .slider--header .blog-post .content {
        padding: 0.90909em 1.36364em 0; } }
    .slider--header .blog-post .content .title {
      font-family: "DM Serif Text", serif;
      font-size: 1.81818em;
      color: #000000;
      margin: 0.875em 0; }
      @media (max-width: 1599px) {
        .slider--header .blog-post .content .title {
          margin: 0.625em 0; } }
      @media (max-width: 699px) {
        .slider--header .blog-post .content .title {
          margin: 0.5em 0; } }
      @media (max-width: 399px) {
        .slider--header .blog-post .content .title {
          margin: 0.375em 0; } }
    .slider--header .blog-post .content .button--continue:before {
      background-color: #f3f3f3; }
  .slider--header .blog-post img {
    width: 100%;
    height: 31.81818em; }
    @media (max-width: 1599px) {
      .slider--header .blog-post img {
        height: 27.27273em; } }
    @media (max-width: 899px) {
      .slider--header .blog-post img {
        height: 16.81818em; } }

.slider--recommended {
  margin-top: 9.77273em;
  background-color: #f3f3f3;
  overflow: hidden; }
  @media (max-width: 699px) {
    .slider--recommended {
      margin-top: 6.81818em; } }
  .slider--recommended .slider__content {
    position: relative; }
    .slider--recommended .slider__content:before {
      content: "";
      width: 100vw;
      height: 4.6em;
      position: absolute;
      bottom: 0;
      left: 48.7%;
      z-index: 10;
      background-color: #ffffff; }
  .slider--recommended .flickity-button {
    background: #ffffff; }
    .slider--recommended .flickity-button .flickity-button-icon {
      color: #cccccc; }
  .slider--recommended .flickity-prev-next-button {
    bottom: 0;
    left: 48.7%;
    right: auto;
    z-index: 100; }
    .slider--recommended .flickity-prev-next-button.previous {
      transform: translateX(-100%); }
  .slider--recommended .flickity-page-dots {
    display: none; }
  .slider--recommended .slider__content {
    max-width: 1170px;
    width: 78%;
    margin: 0 auto;
    padding-top: 4.54545em;
    height: 100%; }
    @media (max-width: 699px) {
      .slider--recommended .slider__content {
        width: 100%; } }
    .slider--recommended .slider__content .blog-post {
      display: flex;
      min-height: 31.81818em; }
      .slider--recommended .slider__content .blog-post .content {
        padding: 0 0.90909em 5.6em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #f3f3f3; }
        @media (max-width: 699px) {
          .slider--recommended .slider__content .blog-post .content .info {
            flex-direction: column;
            align-items: center; } }
        .slider--recommended .slider__content .blog-post .content .date {
          border-left: 1px solid #cccccc; }
          @media (max-width: 699px) {
            .slider--recommended .slider__content .blog-post .content .date {
              padding-left: 0;
              border: none; } }
        @media (max-width: 699px) {
          .slider--recommended .slider__content .blog-post .content .category {
            padding-right: 0; } }
        .slider--recommended .slider__content .blog-post .content .title {
          margin: 0.41667em 0;
          font-family: "DM Serif Text", serif;
          font-size: 2.18182em;
          color: #000000;
          text-align: center; }
          @media (max-width: 899px) {
            .slider--recommended .slider__content .blog-post .content .title {
              font-family: "DM Serif Text", serif;
              font-size: 1.81818em;
              color: #000000; } }
        .slider--recommended .slider__content .blog-post .content .button--continue:before {
          background-color: #cccccc; }
      .slider--recommended .slider__content .blog-post img {
        width: 48.7%;
        height: auto; }

.button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  font-size: 0.54545em;
  color: #555555;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center; }

.button--continue {
  line-height: 4;
  border: 1px solid #cccccc;
  position: relative;
  z-index: 1; }
  .button--continue:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    width: 0;
    z-index: -1;
    transition-duration: .75s; }
  .button--continue:hover:before {
    width: 100%;
    transition-duration: .75s;
    transition-timing-function: ease-out;
    transition-property: all; }

.blog-post__link {
  color: #000000;
  text-decoration: none;
  display: block;
  cursor: pointer; }

.social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  max-width: 1170px;
  width: 78%;
  margin: 0 auto;
  min-height: 2.27273em; }
  @media (max-width: 699px) {
    .social {
      width: 100%; } }
  .social li {
    min-width: 2.27273em; }
  .social li a {
    width: 100%;
    height: 100%;
    position: relative;
    display: block; }
    .social li a svg {
      width: 0.68182em;
      height: 0.68182em; }

.social--footer, .social--share {
  justify-content: center; }
  .social--footer li, .social--share li {
    border-radius: 50%;
    margin-right: 0.90909em; }
    .social--footer li:last-child, .social--share li:last-child {
      margin-right: none; }

.social--footer li {
  background-color: #555555; }

.social--share {
  justify-content: flex-end; }
  @media (max-width: 399px) {
    .social--share {
      justify-content: flex-start; } }
  .social--share li {
    background-color: #cccccc; }

.banner__wrapper {
  height: 31.81818em;
  background-color: #f3f3f3;
  margin-bottom: 2.5em; }
  .banner__wrapper .banner {
    max-width: 1170px;
    width: 78%;
    margin: 0 auto;
    height: 100%;
    position: relative; }
    @media (max-width: 699px) {
      .banner__wrapper .banner {
        width: 100%; } }
    .banner__wrapper .banner img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .banner__wrapper .banner .content {
      width: 57.3%;
      padding: 2.5em;
      position: absolute;
      left: 50%;
      bottom: -2.5em;
      transform: translate(-50%);
      box-sizing: border-box;
      background-color: #ffffff; }
      @media (max-width: 899px) {
        .banner__wrapper .banner .content {
          width: 70%; } }
      @media (max-width: 699px) {
        .banner__wrapper .banner .content {
          width: 80%; } }
      @media (max-width: 399px) {
        .banner__wrapper .banner .content {
          width: 90%; } }
      .banner__wrapper .banner .content .info {
        display: flex;
        justify-content: center;
        align-items: baseline; }
      .banner__wrapper .banner .content .date {
        font-family: "DM Sans", sans-serif;
        font-size: 0.54545em;
        color: #000000;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding-left: 15px; }
      .banner__wrapper .banner .content .category {
        margin: 0;
        padding-right: 15px;
        border-right: 1px solid #cccccc; }
        .banner__wrapper .banner .content .category a {
          color: #000000;
          text-decoration: none;
          font-family: "DM Sans", sans-serif;
          font-size: 0.54545em;
          color: #0000ff;
          text-transform: uppercase;
          letter-spacing: 2px; }
      .banner__wrapper .banner .content .title {
        font-family: "DM Serif Text", serif;
        font-size: 1.63636em;
        color: #000000;
        margin: 0.27778em 0;
        text-align: center;
        line-height: 1.2; }

.content-text {
  max-width: 1170px;
  width: 78%;
  margin: 0 auto;
  padding: 2.27273em 0; }
  @media (max-width: 699px) {
    .content-text {
      width: 100%; } }
  .content-text--right p {
    width: 50%;
    margin-left: auto; }
  .content-text p {
    margin-top: 1.36364em;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    color: #000000;
    line-height: 1.5;
    letter-spacing: 1px;
    text-indent: 15px; }
    @media (max-width: 699px) {
      .content-text p {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.2em;
        text-indent: 10px; } }
  .content-text .strong {
    font-weight: 700; }

.content-img {
  height: 27.27273em;
  max-width: 1170px;
  width: 78%;
  margin: 0 auto; }
  @media (max-width: 699px) {
    .content-img {
      width: 100%; } }
  .content-img--one img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .content-img--two img {
    width: 48%;
    height: 100%;
    object-fit: cover; }

.share {
  max-width: 1170px;
  width: 78%;
  margin: 0 auto;
  align-items: baseline;
  margin-top: 1.36364em; }
  @media (max-width: 699px) {
    .share {
      width: 100%; } }
  @media (max-width: 699px) {
    .share {
      width: 90%;
      flex-wrap: wrap; } }
  .share .hashtag {
    font-family: "DM Sans", sans-serif;
    font-size: 0.72727em;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase; }

.main-footer {
  min-height: 20.45455em;
  margin-top: 7.61364em;
  background-color: #000000; }
  @media (max-width: 1199px) {
    .main-footer {
      min-height: 16.81818em; } }
  .main-footer .instagram-imgs {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    max-width: 1170px;
    width: 78%;
    margin: 0 auto;
    position: relative;
    transform: translateY(-50%); }
    @media (max-width: 699px) {
      .main-footer .instagram-imgs {
        width: 100%; } }
    @media (max-width: 699px) {
      .main-footer .instagram-imgs {
        width: 90%; } }
    .main-footer .instagram-imgs li {
      width: 20%;
      width: 100%;
      height: 10.68182em;
      overflow: hidden; }
      @media (max-width: 699px) {
        .main-footer .instagram-imgs li {
          max-height: 9.09091em; } }
      @media (max-width: 399px) {
        .main-footer .instagram-imgs li {
          max-height: 7.95455em; } }
      .main-footer .instagram-imgs li a {
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        background-color: #555555;
        transition-duration: 1s; }
        .main-footer .instagram-imgs li a:before {
          content: "";
          z-index: 10;
          font-family: "Tuesday Night", serif;
          font-size: 4.54545em;
          color: #000000;
          text-align: center;
          color: #000000;
          font-size: 1.81818em;
          transition-duration: 1s; }
        .main-footer .instagram-imgs li a:hover {
          border-radius: 3px; }
          .main-footer .instagram-imgs li a:hover:before {
            content: "Instagram";
            transition-duration: 1s; }
          .main-footer .instagram-imgs li a:hover img {
            filter: blur(10px);
            transition-duration: 1s; }
      .main-footer .instagram-imgs li a img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition-duration: 1s; }
  .main-footer .copyright {
    margin: 1.36364em 0 0;
    font-family: "DM Sans", sans-serif;
    font-size: 0.63636em;
    color: #ffffff;
    text-align: center; }

.main-header .social {
  margin-top: 15px; }

.main-header .logo {
  color: #000000;
  text-decoration: none;
  font-family: "Tuesday Night", serif;
  font-size: 4.54545em;
  color: #000000;
  text-align: center;
  margin: 0;
  display: block;
  text-align: center; }

.main-header .navigation {
  border-top: 1px solid #f3f3f3; }
  @media (max-width: 399px) {
    .main-header .navigation {
      margin-bottom: 0.90909em; } }
  .main-header .navigation .list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    max-width: 1170px;
    width: 78%;
    margin: 0 auto;
    justify-content: center; }
    @media (max-width: 699px) {
      .main-header .navigation .list {
        width: 100%; } }
    @media (max-width: 399px) {
      .main-header .navigation .list {
        flex-wrap: wrap; } }
    @media (max-width: 399px) {
      .main-header .navigation .list li {
        width: 33%;
        box-shadow: border-box; } }
    .main-header .navigation .list li a {
      color: #000000;
      text-decoration: none;
      font-family: "DM Sans", sans-serif;
      font-size: 0.54545em;
      color: #000000;
      text-transform: uppercase;
      letter-spacing: 2px;
      padding: 0 2.08333em;
      line-height: 6.65;
      display: block;
      transition-duration: .5s; }
      @media (max-width: 399px) {
        .main-header .navigation .list li a {
          font-size: 1em; } }
      @media (max-width: 399px) {
        .main-header .navigation .list li a {
          text-align: center; } }
      .main-header .navigation .list li a:hover {
        background-color: #f3f3f3;
        transition-duration: .5s; }
    .main-header .navigation .list li a.disabled {
      background-color: #f3f3f3;
      cursor: default; }
